<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybats-3-mapper.dtd">

<mapper namespace="kr.co.ilck.mapper.MemberMapper">
	<insert id="member_input_ok" parameterType="kr.co.ilck.vo.MemberVo">
		insert into member(userid,pwd,name,email,phone,writeday)
		values(#{userid},#{pwd},#{name},#{email},#{phone},now())
	</insert>
	
	<select id="member_view" resultType="kr.co.ilck.vo.MemberVo">
		select * from member where userid=#{param}
	</select>
	
	<select id="userid_check" resultType="int">
		select count(*) from member where userid=#{param}
	</select>
	
	<select id="email_check" resultType="int">
		select count(*) from member where email=#{param}
	</select>
	
	<select id="member_edit" resultType="kr.co.ilck.vo.MemberVo">
    	select * from member where userid=#{param}
  	</select>
  	<!-- 프로필 이미지 안바꿀때 -->
  	<update id="member_edit_ok1" parameterType="kr.co.ilck.vo.MemberVo">
  		update member set pwd=#{pwd},phone=#{phone},email=#{email},sogae=#{sogae} where userid=#{userid}
  	</update>
  	<!-- 프로필 이미지 바꿀때 -->
  	<update id="member_edit_ok2" parameterType="kr.co.ilck.vo.MemberVo">
  		update member set pwd=#{pwd},phone=#{phone},email=#{email},sogae=#{sogae},proimg=#{proimg} where userid=#{userid}
  	</update>
  	
  	<update id="out">
  		update member set state=4 where userid=#{param}
  	</update>
</mapper>